:root {
  --primary-color: #FF5400;
  --bg: #f3f3f3;
  --dark: #131318;
  --light: #5A5A5D;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Mulish", serif;
}
img {
  width: 100%;
}
.section-title {
  color: var(--dark);
  font-size: 2.5rem;
  font-weight: 800;
}
.section-description {
  color: var(--light);
  margin: 30px 0;
}
.btn-primary {
  color: var(--white);
  background-color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 14px 36px;
  border: 0;
  border-radius: 16px;
}
.column-2 {
  width: 50%;
}

.header-content {
  max-width: 620px;
  text-align: center;
  margin: 0 auto;
}

/* Common CSS Style */
p {
  color: var(--light);
  font-size: 1rem;
}
main {
  margin: 0 130px;
}
section {
  margin: 80px auto;
}
/* Nav Menu Style */
header {
  margin: 10px 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  max-width: 50px;
}
.logo .text {
  margin-left: 5px;
  font-size: 2.6rem;
  font-weight: 800;
}
.logo .text span {
  color: var(--primary-color);
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--dark);
  padding: 10px 20px;
  transition: all .3s ease-in-out;
}
nav ul li:hover a {
  color: var(--primary-color);
}
nav ul li a.active {
  color: var(--primary-color);
}
.mobile-menu {
  display: none;
  font-size: 2rem;
}

/* Banner */
.banner {
  padding: 150px;
  border-radius: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0)), url('../images/banner.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content {
  max-width: 750px;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 800;
  color: var(--white);
  text-align: center;
}
.banner-description {
  font-size: 1.1rem;
  color: var(--white);
  text-align: center;
  margin: 30px auto;
}
.banner .btn-container {
  background-color: rgba(255,255,255, .3);
  padding: 20px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
}
.banner .btn-container .btn {
  color: var(--light);
  background-color: var(--white);
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-size: .8rem;
}
.banner .btn-container .btn-primary {
  padding: 12px 16px;
  border-radius: 8px;
  font-size: .8rem;
}
.banner .btn-container .btn-primary i {
  margin-right: 10px;
}

/* Popular Tours Style */
.tours {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.tours .image img {
  width: 100%;
}
.tours ul {
  padding-left: 20px;
}
.tours ul li {
  margin: 20px 0;
}

/* Popular Destination */
.destination .section-description {
  margin-top: 20px;
  margin-bottom: 40px;
}
.destination .card-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 400px);
  gap: 20px;
}
.destination .card-container .card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.destination .card-container .card .title{
  position: absolute;
  color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 600;
}
.destination .card-1, .card-2
{
  grid-column: span 6;
}
.destination .card-4, .card-6 {
  grid-column: span 5;
}
.destination .card-3 {
  grid-column: span 4;
}
.destination .card-5 {
  grid-column: span 3;
}
.destination .card-7 {
  grid-column: span 7;
}

/* Why Choose Us or Our Quality */
.quality .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.quality .card-container .card {
  border-radius: 20px;
  padding: 30px;
}
.quality .card-container .card img {
  max-width: 60px;
}
.quality .card-container .card .title {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 20px;
}
.quality .card-bg-1 {
  background-color: #fbb46320;
  border: 1px solid #FBB563;
}
.quality .card-bg-2 {
  background-color: #29CEF620;
  border: 1px solid #29CEF6;
}
.quality .card-bg-3 {
  background-color: #E9444420;
  border: 1px solid #E94444;
}

/* Deals & Discount */
.deals-container .card .content {
  margin: 20px 0;
  position: relative;
  overflow: hidden;
}
.deals-container .card .content img {
  max-height: 550px;
  background-size: cover;
}
.deals-container .card .content .text-content {
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  top: 100px;
  right: 100px;
  bottom: 100px;
  border-radius: 20px;
  padding: 50px;
  max-width: calc(50% - 100px);
}
.deals-container .card .content .second {
  left: 100px;
}
.deals-container .card .content .text-content .about {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.deals-container .card .content .text-content .title {
  color: var(--dark);
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.deals-container .card .content .text-content .description {
  color: var(--light);
  font-size: 1rem;
  margin-bottom: 20px;
}
.deals-container .card .content .text-content .price {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.deals .button {
  text-align: center;
  margin-top: 50px;
}

/* Simple Place Style */
.simple {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.simple .text-content ul {
  margin-bottom: 30px;
}
.simple .text-content ul li {
  margin-left: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.simple .video-content {
  border-radius: 20px;
  overflow: hidden;
}

/* Newsletter and Discount Banner */
.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.newsletter-form {
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 20px 30px;
  width: 30%;
}
.newsletter-form .title {
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark);
}
.newsletter-form .description {
  font-size: 1rem;
  color: var(--light);
  margin: 20px 0;
}
.newsletter-form hr {
  border-top: .5px solid var(--light);
  margin-bottom: 20px;
}
.newsletter-form .form input {
  display: block;
  width: 100%;
  padding: 20px 30px;
  margin: 20px 0;
  color: var(--primary-color);
  background-color: var(--bg);
  border: 0;
  border-radius: 10px;
}
.newsletter-form .form input:focus {
  outline: none;
}
.newsletter-form .form .btn-submit {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.05rem;
  font-weight: 700;
}
.newsletter .discount-banner {
  width: 70%;
  position: relative;
}
.newsletter .discount-banner .content img {
  height: 400px;
}
.newsletter .discount-banner .content .discount {
  position: absolute;
  bottom: 60px;
  right: 10px;
  padding: 40px;
  border-radius: 20px;
  color: var(--white);
  background-color: var(--primary-color);
  text-align: center;
  transform: rotate(-25deg);
}
.newsletter .discount-banner .content .discount p {
  font-size: 1.2rem;
  color: var(--white);
}
.newsletter .discount-banner .content .discount .get-off {
  font-size: 2rem;
  font-weight: 800;
}

/* Footer */
footer {
  color: var(--dark);
  text-align: center;
  padding: 100px 250px;
  background-color: var(--bg);
}
footer .logo {
  display: flex;
  justify-content: center;
}
footer .description {
  margin-top: 20px;
  margin-bottom: 30px;
}
footer .social-links a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--dark);
  padding: 20px;
  transition: all .3s ease-in-out;
}
footer .social-links a:hover {
  color: var(--primary-color);
}
footer hr {
  margin: 30px 0;
}


/* Tablet Responsive */
@media screen and (max-width: 992px) {
  .mobile-menu {
    display: block;
  }
  nav {
    display: none;
  }
  header,
  main
  {
    margin: 10px;
  }
  .banner
  {
    padding: 80px 20px;
  }
  .tours,
  .simple {
    gap: 10px;
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner .btn-container
  {
    grid-template-columns: repeat(2, 1fr);
  }
  .destination .card-container {
    grid-template-rows: repeat(3, 200px);
  }
  .deals-container .card .content .text-content {
    top: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 20px;
    padding: 30px;
    max-width: 60%;
  }
  .deals-container .card .content .second {
    left: 20px;
  }
  .simple .section-title {
    font-size: 2rem;
  }
  .newsletter-form,
  .newsletter .discount-banner {
    width: 50%;
  }
  footer {
    padding: 50px;
  }
}

/* Mobile Responsive */
@media screen and (max-width: 576px) {
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    margin: 10px;
  }
  .banner .btn-container,
  .quality .card-container
  {
    grid-template-columns: repeat(1, 1fr);
  }
  .tours
  {
    flex-direction: column-reverse;
  }
  .simple,
  .newsletter {
    flex-direction: column;
  }
  .column-2,
  .newsletter-form,
  .newsletter .discount-banner {
    width: 100%;
  }
  .destination .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .destination .card-container .card{
    grid-column: span 6;
  }
  .deals-container .card .content .text-content {
    top: 100px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    padding: 30px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 20px;
  }
  .deals-container .card .content img {
    height: 500px;
    width: auto;
  }
  .deals-container .card .content .text-content .about{
    flex-wrap: wrap;
    gap: 10px;
    column-gap: 30px;
  }
}